<f:be.container
	pageTitle="ExtensionCompatibilityCheck"
	enableClickMenu="false"
	loadExtJs="false"
	loadExtJsTheme="false"
	enableExtJsDebug="false"

	loadJQuery="false"

	includeCssFiles="{
		0: '{f:uri.resource(path:\'Contrib/bootstrap-3.3.7-dist/css/bootstrap.min.css\')}',
		1: '{f:uri.resource(path:\'Css/ExtensionCompatibilityCheck.css\')}'
	}"

	includeJsFiles="{
		0: '{f:uri.resource(path:\'Contrib/jQuery/jquery-2.2.4.min.js\')}',
		1: '{f:uri.resource(path:\'Contrib/bootstrap-3.3.7-dist/js/bootstrap.min.js\')}',
		2: '{f:uri.resource(path:\'Contrib/Spin/spin.min.js\')}',
		3: '{f:uri.resource(path:\'JavaScript/ExtensionCompatibilityCheck.js\')}'
	}"
	>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					&nbsp;
				</div>
				<div class="right">
					&nbsp;
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					&nbsp;
				</div>
				<div class="right">
					<span class="identifier">{identifier}</span>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<div id="typo3-mod-extensioncompatibilitycheck">
					<f:render partial="Header" />
					<f:flashMessages renderMode="div" />
					<f:render section="Content" />
				</div>
			</div>
		</div>
	</div>

</f:be.container>